<% content_for :navbar_links do %>
  <div class="new_contact"><a href="/contacts/new">New Contact</a></div>
  <div class="search"><a href="#">Search</a></div>
  <div class="profile"><a href="#">Your Profile</a></div>
  <div class="logout"><a href="/profiles/logout">Logout</a></div>
<% end %>

<% content_for :header do %>
  <div class="main-header">
  </div>
<% end %>

    <div class="contact-card">
      <div class="color-header"></div>
      <div class="contact-data"></div>
      <div class="control-buttons"></div>
    </div>