<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacta - Contacts for your life</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
    <div class="header-container">
      <div class="logo"><h2><a href="#">Contact</a><span class="logo-a">a</span></h2></div>
      <div class="new_contact"><a href="#">New Contact</a></div>
      <div class="search"><a href="#">Search</a></div>
      <div class="logout"><a href="#">Logout</a></div>
    </div>

    <div class="main-container">
      aloha
      <%== yield %>
    </div>

    <div class="footer-container">
      <div class="copyright">© 2023 Contacta by Lucas Sorribes.</div>
    </div>
</body>
</html>