<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacta - Contacts for your life</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/application.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/imgages/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/imagesfavicon-16x16.png">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <script src="/javascripts/jquery-3.6.3.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
  <% if session[:error] %>
    <div class="flash-message error">
      <%= session.delete :error %>
    </div>
  <% elsif session[:success] %>
    <div class="flash-message success">
      <%= session.delete :success %>
    </div>
  <% end %>

  <nav class="navbar-container">
    <div class="logo">
      <h2>
        <a href="/">Contact<span class="logo-a">a</span></a>
      </h2>
    </div>

    <%== yield_content :navbar_links %>

    <div class="copyright">© 2023 Contacta by Lucas Sorribes.</div>
  </nav>

  <div class="main-container">
    <div class="main-center">
      <%== yield %>
    </div>
  </div>
</body>
</html>