<% content_for :navbar_links do %>
  <div class="new_contact"><a href="/contacts/new">New Contact</a></div>
  <div class="search"><a href="#">Search</a></div>
  <div class="logout"><a href="/users/logout">Logout</a></div>
<% end %>

New contact page
