<% content_for :navbar_links do %>
  <div class="new_contact"><a href="/contacts/new">New Contact</a></div>
  <div class="search"><a href="#">Search</a></div>
  <div class="profile"><a href="#">Your Profile</a></div>
  <div class="logout"><a href="/profiles/logout">Logout</a></div>
<% end %>

<form action="/contacts/new" method="post" class="new-contact-form">
    <label for="name">*Name: </label>
    <input type="text" name="name" maxlength="30" required>

    <fieldset>
      <legend>*Choose a contact category:</legend>

      <div>
        <input type="radio" name="category" id="family" value="family" checked>
        <label for="family">Family</label>
      </div>

      <div>
        <input type="radio" name="category" id="friends" value="friends">
        <label for="friends">Friends</label>
      </div>

      <div>
        <input type="radio" name="category" id="professional" value="professional">
        <label for="professional">Professional</label>
      </div>

    </fieldset>

    <label for="job">Job: </label>
    <input type="text" name="job" maxlength="30">

    <label for="email">*Email: </label>
    <input type="email" name="email" maxlength="30">

    <label for="phone_number">Phone number: </label>
    <input type="text" name="phone_number" maxlength="30">

    <label for="city">City: </label>
    <input type="text" name="city" maxlength="30">

    <label for="notes">Notes: </label>
      <textarea name="notes" class="notes-input" rows="3" cols="30" maxlength="60"></textarea>
    <input type="submit" value="Add new contact!">
</form>