<form action="/profiles/new" method="post" class="main-form">
    <label for="profile_name">Enter your name: </label>
    <input type="text" name="profile_name" minlength="3" maxlength="30" placeholder=" " required>
    <label for="password">Enter your password: </label>
    <input type="password" name="password" minlength="3" maxlength="30" placeholder=" " required>
    <input type="submit" value="Create new profile">
</form>