html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body > * {
  border: 2px solid pink;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* Body */

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
}

/* Left navbar */

.navbar-container {
  background-color: gray;
  color: white;
  font-size: 1.3rem;
  flex: 0 0 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  margin: 60px auto 200px;
  font-size: 2rem;
}

.navbar-container a {
  text-decoration: none;
  color: white;
}

.copyright {
  margin-top: auto;
  font-size: 0.75rem;
}

/* Right Main area */

.main-container {
  flex: auto;
  background-color: lightgray;

  display: flex;
  flex-direction: column;
}

.main-header {
  border-bottom: 2px solid gray;
  height: 160px;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-profile-form, .new-contact-form {
  display: flex;
  flex-direction: column;
}

.new-profile-form label,
.new-profile-form input[type="submit"],
.new-contact-form label, 
.new-contact-form input[type="submit"] {
  margin-top: 20px;
}

.new-contact-form textarea {
  resize: none;
}







